
/* This file is for your main application css. */
@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

divCen {
  position: static;
  top: 50%;
  left: 50%;

}
